body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.flex-center{
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.align-row{
    display: flex;
    flex-direction: row;
}

.align-column{
    display: flex;
    flex-direction: column;
}

label{
    color: black;
}

.colorPicker{
    width: 10em;
    height: 2em;
}